<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- inject:head -->
  <link rel="preload" href="{% static '/static/js/app.52b3564150302f1a4d99.js' %}" as="script">
  <link rel="preload" href="{% static '/static/js/vendors~app.51b51f8b5d5756d5a261.js' %}" as="script">
  <link rel="preload" href="{% static '/static/css/app-f440d9cc.css' %}" as="style">
  <!-- endinject -->

  <!-- inject:css -->
  <link rel="stylesheet" href="{% static '/static/css/app-f440d9cc.css' %}">
  <!-- endinject -->
</head>
<body>
    <!-- inject:js -->
    <script src="{% static '/static/js/app.52b3564150302f1a4d99.js' %}"></script>
    <script src="{% static '/static/js/vendors~app.51b51f8b5d5756d5a261.js' %}"></script>
    <!-- endinject -->
</body>
</html>